

header{
    
    width: 100%;
    min-height: 66px;
    background: lightseagreen;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: sticky;
    
    top: 0;
    
    border-bottom: 3px solid white;
}

.active{
    position: sticky;
    top: 0;
}

/* nav{
    position: sticky;
    top: 0;
} */

header .logo{
    color: white;
    font-size: 1.75rem;
    font-weight: 600;
    text-decoration: none;
}

header ul{
    position: relative;
}

header ul li{
position: relative;
list-style: none;
float: left;   
}

header ul li a{
    color: black;
    font-size: 1.1rem;
    padding: 20px 25px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    
}

header ul li a:hover{
    background: white;
   
}

header ul li  ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: rgb(187, 184, 184);
    display:none;
    
}

header ul li:hover > ul{
    display: block;  
}

header ul li ul li{
    position: relative;
    width: 100%;
    border: 1px solid red;   
}
header ul li ul li ul{
   
    top: 0;
    left: 200px;  
}



